<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>

        function fadeIn(item){
            item.contentWindow.document.body.style.opacity=1;
        }

    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

<!--<script src="scripts/utils-min.js"></script>-->
    <script src="scripts/svg-pan-zoom.js"></script>
    <script src="scripts/utils.js"></script>

</body>

</html>