<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mosor Valentin Cristian" />
    <meta name="copyright" content="ISC" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/auth.css">
    <title>Register</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="registerBody">
        <div class="authWrap registerWrap">
            <h1>Inregistrare</h1>

            <form action="/register" method="POST">
                <label for="username">Nume utilizator:<span class="err"></span></label>
                <div class="link-background">
                    <div>
                        <span class="fieldIcon">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
			C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
			c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
			h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
			c59.551,0,108,48.448,108,108S315.551,256,256,256z" />
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <input type="text" name="username" required placeholder="Introdu numele de utilizator">
                    </div>
                </div>

                <label for="email">Email<span class="err"></span></label>
                <div class="link-background">
                    <div>
                        <span class="fieldIcon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M467,61H45C20.218,61,0,81.196,0,106v300c0,24.72,20.128,45,45,45h422c24.72,0,45-20.128,45-45V106
                           C512,81.28,491.872,61,467,61z M460.786,91L256.954,294.833L51.359,91H460.786z M30,399.788V112.069l144.479,143.24L30,399.788z
                            M51.213,421l144.57-144.57l50.657,50.222c5.864,5.814,15.327,5.795,21.167-0.046L317,277.213L460.787,421H51.213z M482,399.787
                           L338.213,256L482,112.212V399.787z" />
                                    </g>
                                </g>
                            </svg></span>
                        <input type="email" name=email required placeholder="Introdu email-ul">
                    </div>
                </div>

                <label for="password">Parola<span class="err"></span></label>
                <div class="link-background">
                    <div>
                        <span class="fieldIcon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M400,188H187.963v-82.23c0-36.266,30.505-65.77,68-65.77s68,29.504,68,65.77V144h40v-38.23
                           c0-58.322-48.449-105.77-108-105.77c-59.551,0-108,47.448-108,105.77V188H112c-33.084,0-60,26.916-60,60v204
                           c0,33.084,26.916,60,60,60h288c33.084,0,60-26.916,60-60V248C460,214.916,433.084,188,400,188z M420,452c0,11.028-8.972,20-20,20
                           H112c-11.028,0-20-8.972-20-20V248c0-11.028,8.972-20,20-20h288c11.028,0,20,8.972,20,20V452z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M256,286c-20.435,0-37,16.565-37,37c0,13.048,6.76,24.51,16.963,31.098V398c0,11.045,8.954,20,20,20
                           c11.045,0,20-8.955,20-20v-43.855C286.207,347.565,293,336.08,293,323C293,302.565,276.435,286,256,286z" />
                                    </g>
                                </g>
                            </svg></span>
                        <input type="password" name="password" id="pass" required placeholder="Introdu parola">
                    </div>
                </div>

                <label for="confirmPassword">Confirma parola<span class="err"></span></label>
                <div class="link-background">
                    <div>
                        <span class="fieldIcon"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M400,188H187.963v-82.23c0-36.266,30.505-65.77,68-65.77s68,29.504,68,65.77V144h40v-38.23
                           c0-58.322-48.449-105.77-108-105.77c-59.551,0-108,47.448-108,105.77V188H112c-33.084,0-60,26.916-60,60v204
                           c0,33.084,26.916,60,60,60h288c33.084,0,60-26.916,60-60V248C460,214.916,433.084,188,400,188z M420,452c0,11.028-8.972,20-20,20
                           H112c-11.028,0-20-8.972-20-20V248c0-11.028,8.972-20,20-20h288c11.028,0,20,8.972,20,20V452z" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M256,286c-20.435,0-37,16.565-37,37c0,13.048,6.76,24.51,16.963,31.098V398c0,11.045,8.954,20,20,20
                           c11.045,0,20-8.955,20-20v-43.855C286.207,347.565,293,336.08,293,323C293,302.565,276.435,286,256,286z" />
                                    </g>
                                </g>
                            </svg></span>
                        <input type="password" name="confirmPassword" id="confirmPass" required
                            placeholder="Confirma parola">
                    </div>
                </div>

                <div class="contExistent"><a href="/login">Ai deja un cont?</a></div>

                <div class="err form-err"></div>
                <div class="msg form-msg"></div>

                <div class="submit">Sign Up!</div>
            </form>
        </div>
    </div>
    <script src="scripts/authUtils.js"></script>
</body>

</html>