<%- include("../partials/header") %>
<!--
    Hala 8
-->

<div class="levelControl" onclick="event.stopPropagation()" onfocus="event.stopPropagation()">
	<div class="up">
		<svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
			<polygon points="43.3 0 0 75 86.6 75 43.3 0" />
		</svg>
	</div>
	<p id="levelLabel">parter</p>
	<div class="down">
		<svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
			<polygon points="43.3 0 0 75 86.6 75 43.3 0" />
		</svg>
	</div>
</div>
<!--
    ====================================================================================================================================
    =======================================================  schema hala 8  ============================================================
    ====================================================================================================================================
-->

<div id="mobile-div" class="container">
	<svg id="parter" class="layer" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1272.67 1481.56">
		<polygon class="S0" points="0 1201.56 0 1241.56 0 1441.56 0 1481.56 570 1481.56 570 1441.56 570 1241.56 570 1201.56 0 1201.56" />
		<text class="svg-text" transform="translate(238.98 1360.77)">S0</text>

		<polygon class="S1" points="251.56 1086.5 600 1086.5 600 1015.07 600 986.5 0 986.5 0 1015.07 0 1157.93 0 1186.5 251.56 1186.5 251.56 1086.5" />
		<text class="svg-text" transform="translate(77.84 1100.74)">S1</text>

		<rect class="S2" y="771.43" width="600" height="200" />
		<text class="svg-text" transform="translate(253.98 890.64)">S2</text>

		<rect class="S3" y="561.21" width="600" height="200" />
		<text class="svg-text" transform="translate(253.98 680.42)">S3</text>
		<rect class="S4" y="350.3" width="600" height="200" />
		<text class="svg-text" transform="translate(253.98 469.5)">S4</text>
		<rect class="D7" x="872.67" width="400" height="200" />
		<text class="svg-text" transform="translate(1026.65 119.21)">D7</text>
		<rect class="D6" x="872.67" y="210.92" width="400" height="200" />
		<text class="svg-text" transform="translate(1026.65 330.12)">D6</text>
		<rect class="D5" x="872.67" y="424.68" width="400" height="200" />
		<text class="svg-text" transform="translate(1026.65 543.88)">D5</text>
		<rect class="D4" x="872.67" y="643.9" width="400" height="200" />
		<text class="svg-text" transform="translate(1026.65 763.1)">D4</text>
		<rect class="D3" x="872.67" y="854.81" width="400" height="200" />
		<text class="svg-text" transform="translate(1026.65 974.02)">D3</text>
		<rect class="D2" x="1022.67" y="1068.19" width="250" height="200" />
		<text class="svg-text" transform="translate(1101.65 1187.39)">D2</text>
		<rect class="D1" x="1022.67" y="1281.56" width="250" height="200" />
		<text class="svg-text" transform="translate(1101.65 1400.77)">D1</text>
		<rect class="S5" x="200.18" y="235.42" width="400" height="100" />
		<text class="svg-text" transform="translate(354.16 304.62)">S5</text>

		<g>
			<polygon class="cls-3" points="264.37 0 191.54 0 0 160.86 0 222.03 264.37 0" />
			<polygon class="cls-3" points="357.35 0 284.51 0 0 238.94 0 300.11 357.35 0" />
			<polygon class="cls-3" points="70.47 335.92 183.67 240.85 183.67 302.03 143.31 335.92 70.47 335.92" />
			<polygon class="cls-3" points="543.31 0 278.94 222.02 206.1 222.02 470.47 0 543.31 0" />
			<polygon class="cls-3" points="171.4 0 98.56 0 0 82.77 0 143.94 171.4 0" />
			<polygon class="cls-3" points="377.49 0 0 317.02 0 335.92 50.33 335.92 450.33 0 377.49 0" />
			<polygon class="cls-3" points="78.42 0 5.58 0 0 4.69 0 65.86 78.42 0" />
			<path class="cls-3" d="M600,203.56v18.93a11.65,11.65,0,0,0-3.3-.47H578Z" transform="translate(0 0)" />
			<polygon class="cls-3" points="600 47.39 600 108.56 464.89 222.02 392.05 222.02 600 47.39" />
			<path class="cls-3" d="M183.67,330.94a12,12,0,0,0,1.08,5h-21.3l20.22-17Z" transform="translate(0 0)" />
			<polygon class="cls-3" points="600 0 600 30.48 371.91 222.02 299.08 222.02 563.45 0 600 0" />
			<polygon class="cls-3" points="600 125.47 600 186.64 557.87 222.02 485.03 222.02 600 125.47" />
		</g>
	</svg>

	<svg id="etaj" class="layer hide" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1298.35 1590">
		<rect class="E8" width="200" height="200" />
		<text class="svg-text" transform="translate(53.98 119.2)">E8</text>
		<rect class="E7" y="225" width="200" height="200" />
		<text class="svg-text" transform="translate(53.98 344.2)">E7</text>
		<rect class="E6" y="450" width="200" height="200" />
		<text class="svg-text" transform="translate(53.98 569.2)">E6</text>
		<rect class="E5" y="675" width="200" height="200" />
		<text class="svg-text" transform="translate(53.98 794.2)">E5</text>
		<rect class="E4" y="900" width="200" height="200" />
		<text class="svg-text" transform="translate(53.98 1019.2)">E4</text>
		<rect class="E13" x="354.91" width="200" height="200" />
		<text class="svg-text" transform="translate(390.86 119.2)">E13</text>
		<rect class="E12" x="354.91" y="225" width="200" height="200" />
		<text class="svg-text" transform="translate(390.86 344.2)">E12</text>
		<rect class="E11" x="354.91" y="450" width="200" height="200" />
		<text class="svg-text" transform="translate(393.53 569.2)">E11</text>
		<rect class="E10" x="354.91" y="675" width="200" height="200" />
		<text class="svg-text" transform="translate(390.86 794.2)">E10</text>
		<rect class="E18" x="582.35" width="200" height="200" />
		<text class="svg-text" transform="translate(618.3 119.2)">E18</text>
		<rect class="E17" x="582.35" y="225" width="200" height="200" />
		<text class="svg-text" transform="translate(618.3 344.2)">E17</text>
		<rect class="E16" x="582.35" y="450" width="200" height="200" />
		<text class="svg-text" transform="translate(618.3 569.2)">E16</text>
		<rect class="E15" x="582.35" y="675" width="200" height="200" />
		<text class="svg-text" transform="translate(618.3 794.2)">E15</text>
		<rect class="E23" x="918.35" width="380" height="200" />
		<text class="svg-text" transform="translate(1044.29 119.2)">E23</text>
		<rect class="E22" x="918.35" y="225" width="380" height="200" />
		<text class="svg-text" transform="translate(1044.29 344.2)">E22</text>
		<rect class="E21" x="918.35" y="450" width="380" height="200" />
		<text class="svg-text" transform="translate(1044.29 569.2)">E21</text>
		<rect class="E20" x="918.35" y="675" width="380" height="200" />
		<text class="svg-text" transform="translate(1044.29 794.2)">E20</text>
		<rect class="E19" x="918.35" y="900" width="380" height="200" />
		<text class="svg-text" transform="translate(1044.29 1019.2)">E19</text>
		<rect class="E9" x="354.91" y="900" width="200" height="100" />
		<text class="svg-text" transform="translate(410.88 969.2)">E9</text>
		<rect class="E14" x="582.35" y="900" width="200" height="100" />
		<text class="svg-text" transform="translate(618.3 969.2)">E14</text>
		<rect class="E3" y="1125" width="200" height="120" />
		<text class="svg-text" transform="translate(53.98 1204.2)">E3</text>
		<rect class="E2" y="1270" width="300" height="320" />
		<text class="svg-text" transform="translate(103.98 1449.2)">E2</text>
		<rect class="E1" x="337.31" y="1270" width="300" height="320" />
		<text class="svg-text" transform="translate(441.29 1449.2)">E1</text>
	</svg>
</div>

<script>
	<% evidenta.forEach(item => {%>
	    document.querySelector(".<%=item.identificator%>").classList.add(
	        "<%if(item.liber==true){%>boxa-libera<%}else{%>boxa-ocupata<%}%>");
	        <%}) %>
</script>

<form action="#" action="GET" id="selectForm" target="iframe">
	<input type="text" name="id-boxa" id="inputBoxa" />
</form>

<!--
    ===========================================================================================================================================================================================
-->

<div class="menu">
	<iframe src="/hala8/view/S0" frameborder="0" id="iframe" name="iframe" onload="fadeIn(this)"></iframe>
</div>

<div class="sizeControl noselect">
	<div class="plus control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path
				d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H173V262H128V172.5H37.5v-45H128V37h45v90.5h89.5Z"
			/></svg
	></div>
	<div class="reset control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path
				d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0ZM69.82,199.89l-2-2L22,152l-4.92-4.92H55.54A94.76,94.76,0,0,1,150,55.49h.07a105.31,105.31,0,0,1,50.63,14.14l3.24,1.88-2.65,2.65L184.11,91.33l-1.48,1.48-1.87-1A70.92,70.92,0,0,0,150,84.16a66,66,0,0,0-65.74,63H122.6L117.68,152,71.86,197.86Zm206.18-47H244.46A94.78,94.78,0,0,1,150,244.51h-.07a105.31,105.31,0,0,1-50.63-14.14l-3.24-1.88,2.65-2.65,17.17-17.17,1.48-1.48,1.87.95a70.92,70.92,0,0,0,30.78,7.7,66,66,0,0,0,65.74-63H177.4l4.92-4.92,45.82-45.82,2-2,2,2L278,148l4.92,4.92Z"
			/></svg
	></div>
	<div class="minus control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H37.5v-45h225Z" /></svg
	></div>
</div>

<%- include("../partials/footer") %>
