<%- include("../partials/header") %>
<!--
    Hala 4
-->



<div class="levelControl" onclick="event.stopPropagation()" onfocus="event.stopPropagation()">
    <div class="up">
        <svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
            <polygon points="43.3 0 0 75 86.6 75 43.3 0" /></svg>
    </div>
    <p id="levelLabel">parter</p>
    <div class="down">
        <svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
            <polygon points="43.3 0 0 75 86.6 75 43.3 0" /></svg>
    </div>
</div>
<!--
    ====================================================================================================================================
    =======================================================  schema hala 4  ============================================================
    ====================================================================================================================================
-->

<div id="mobile-div" class="container">

    <svg id="parter" class="layer" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1806 1961">
        <rect y="1761" class="S0" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 1882.04)" class="svg-text">S0</text>
        <rect y="1540" class="S1" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 1661.04)" class="svg-text">S1</text>
        <rect y="1319" class="S2" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 1440.04)" class="svg-text">S2</text>
        <rect y="1098" class="S3" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 1219.04)" class="svg-text">S3</text>
        <rect y="876" class="S4" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 997.04)" class="svg-text">S4</text>
        <rect y="656" class="S5" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 777.04)" class="svg-text">S5</text>
        <rect y="436" class="S6" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 557.04)" class="svg-text">S6</text>
        <rect y="220" class="S7" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 341.04)" class="svg-text">S7</text>
        <rect class="S8" width="500" height="200" />
        <text transform="matrix(1 0 0 1 208.4299 121.04)" class="svg-text">S8</text>
        <rect x="701" y="1320" class="C1" width="400" height="200" />
        <text transform="matrix(1 0 0 1 859.4199 1436.74)" class="svg-text">C1</text>
        <rect x="701" y="1100" class="C2" width="400" height="200" />
        <text transform="matrix(1 0 0 1 859.4199 1215.74)" class="svg-text">C2</text>
        <rect x="701" y="880" class="C3" width="400" height="200" />
        <text transform="matrix(1 0 0 1 859.4199 993.74)" class="svg-text">C3</text>
        <rect x="701" y="660" class="C4" width="400" height="200" />
        <text transform="matrix(1 0 0 1 859.4199 773.74)" class="svg-text">C4</text>
        <rect x="701" y="440" class="C5" width="400" height="200" />
        <text transform="matrix(1 0 0 1 859.4199 553.74)" class="svg-text">C5</text>
        <rect x="701" y="220" class="C6" width="400" height="200" />
        <text transform="matrix(1 0 0 1 859.4199 337.74)" class="svg-text">C6</text>
        <rect x="701" class="C7" width="400" height="200" />
        <text transform="matrix(1 0 0 1 859.4199 117.74)" class="svg-text">C7</text>
        <rect x="1306" y="1316" class="D1" width="500" height="200" />
        <text transform="matrix(1 0 0 1 1514.4199 1432.74)" class="svg-text">D1</text>
        <rect x="1306" y="1096" class="D2" width="500" height="200" />
        <text transform="matrix(1 0 0 1 1514.4199 1211.74)" class="svg-text">D2</text>
        <rect x="1306" y="876" class="D3" width="500" height="200" />
        <text transform="matrix(1 0 0 1 1514.4199 989.74)" class="svg-text">D3</text>
        <rect x="1306" y="656" class="D4" width="500" height="200" />
        <text transform="matrix(1 0 0 1 1514.4199 769.74)" class="svg-text">D4</text>
        <rect x="1306" y="436" class="D5" width="500" height="200" />
        <text transform="matrix(1 0 0 1 1514.4199 549.74)" class="svg-text">D5</text>
        <rect x="1306" y="216" class="D6" width="500" height="200" />
        <text transform="matrix(1 0 0 1 1514.4199 333.74)" class="svg-text">D6</text>
        <rect x="1306" class="D7" width="500" height="200" />
        <text transform="matrix(1 0 0 1 1514.4199 113.74)" class="svg-text">D7</text>
        <rect x="701" y="1761" class="E0" width="400" height="200" />
        <text transform="matrix(1 0 0 1 859.42 1882.1321)" class="svg-text">E0</text>
        <rect x="1606" y="1540" class="D9" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1669.811 1661.1321)" class="svg-text">D9</text>
        <rect x="1606" y="1760" class="D8" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1669.811 1881.1321)" class="svg-text">D8</text>
    </svg>


    <svg svg id="etaj" class="layer hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1830 1950">
        <rect x="1.2" y="3.2" class="E8S" width="500" height="200" />
        <text transform="matrix(1 0 0 1 183.12 123.2512)" class="svg-text">E8S</text>
        <rect x="1.6" y="221" class="E7S" width="500" height="200" />
        <text transform="matrix(1 0 0 1 183.3999 340.9312)" class="svg-text">E7S</text>
        <rect x="1.2" y="439.2" class="E6S" width="500" height="200" />
        <text transform="matrix(1 0 0 1 182.7899 559.2512)" class="svg-text">E6S</text>
        <rect x="1.2" y="657.2" class="E5S" width="500" height="200" />
        <text transform="matrix(1 0 0 1 183.0699 777.2512)" class="svg-text">E5S</text>
        <rect x="1.2" y="875.2" class="E4S" width="500" height="200" />
        <text transform="matrix(1 0 0 1 182.7899 995.2512)" class="svg-text">E4S</text>
        <rect x="1.2" y="1093.2" class="E3S" width="500" height="200" />
        <text transform="matrix(1 0 0 1 183.0699 1213.2512)" class="svg-text">E3S</text>
        <rect x="1.2" y="1311.2" class="E2S" width="500" height="200" />
        <text transform="matrix(1 0 0 1 179.9299 1431.2512)" class="svg-text">E2S</text>
        <rect x="1" y="1529" class="E1S" width="500" height="408" />
        <text transform="matrix(1 0 0 1 182.9601 1749.1)" class="svg-text">E1S</text>
        <rect x="701.7" y="0.5" class="E21C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 728.6799 120.6113)" class="svg-text">E21C</text>
        <rect x="928.8" y="1094.1" class="E9C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 970.74 1214.1514)" class="svg-text">E9C</text>
        <rect x="928.8" y="1310.8" class="E8C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 970.74 1430.9312)" class="svg-text">E8C</text>
        <rect x="702.7" y="218.2" class="E20C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 728.6799 338.2612)" class="svg-text">E20C</text>
        <rect x="702.7" y="435.6" class="E19C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 728.6799 555.7112)" class="svg-text">E19C</text>
        <rect x="702.7" y="655.6" class="E18C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 728.6799 775.7112)" class="svg-text">E18C</text>
        <rect x="702.7" y="874.6" class="E17C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 728.6799 994.6414)" class="svg-text">E17C</text>
        <rect x="701.7" y="1094.1" class="E16C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 728.6799 1214.1514)" class="svg-text">E16C</text>
        <rect x="701.7" y="1310.8" class="E15C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 728.6799 1430.9312)" class="svg-text">E15C</text>
        <rect x="928.4" y="0.5" class="E14C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 956.37 120.6013)" class="svg-text">E14C</text>
        <rect x="929.4" y="218.2" class="E13C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 956.37 338.2612)" class="svg-text">E13C</text>
        <rect x="929.4" y="435.6" class="E12C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 956.37 555.7112)" class="svg-text">E12C</text>
        <rect x="929.4" y="655.6" class="E11C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 956.37 775.7112)" class="svg-text">E11C</text>
        <rect x="929.4" y="874.6" class="E10C" width="200" height="200" />
        <text transform="matrix(1 0 0 1 956.37 994.6414)" class="svg-text">E10C</text>
        <rect x="1327.8" y="1093.8" class="E9D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1367.77 1211.3213)" class="svg-text">E9D</text>
        <rect x="1327.8" y="1311.5" class="E8D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1367.77 1428.0913)" class="svg-text">E8D</text>
        <rect x="1327.8" y="-0.6" class="E14D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1357.75 117.7712)" class="svg-text">E14D</text>
        <rect x="1327.8" y="217.4" class="E13D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1357.75 335.4214)" class="svg-text">E13D</text>
        <rect x="1327.8" y="435.4" class="E12D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1357.75 552.8713)" class="svg-text">E12D</text>
        <rect x="1327.8" y="653.4" class="E11D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1357.75 772.8713)" class="svg-text">E11D</text>
        <rect x="1327.8" y="875.8" class="E10D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1357.75 991.8113)" class="svg-text">E10D</text>
        <rect x="1628.9" y="0.7" class="E7D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.8699 121.5413)" class="svg-text">E7D</text>
        <rect x="1628.9" y="218.7" class="E6D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.8699 338.3213)" class="svg-text">E6D</text>
        <rect x="1628.9" y="436.7" class="E5D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.8699 557.5413)" class="svg-text">E5D</text>
        <rect x="1628.9" y="654.7" class="E4D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.8699 774.3213)" class="svg-text">E4D</text>
        <rect x="1628.9" y="877.1" class="E3D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.8699 995.5413)" class="svg-text">E3D</text>
        <rect x="1628.9" y="1095.1" class="E2D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.8699 1212.3213)" class="svg-text">E2D</text>
        <rect x="1628.9" y="1312.7" class="E1D" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.8699 1428.9312)" class="svg-text">E1D</text>
        <rect x="928" y="1524" class="E2" width="200" height="200" />
        <text transform="matrix(1 0 0 1 991.821 1645.1321)" class="svg-text">E2</text>
        <rect x="928" y="1737" class="E1" width="200" height="200" />
        <text transform="matrix(1 0 0 1 991.821 1858.1324)" class="svg-text">E1</text>
        <rect x="701" y="1524" class="E3" width="200" height="200" />
        <text transform="matrix(1 0 0 1 764.8206 1645.1321)" class="svg-text">E3</text>
        <rect x="603" y="1737" class="E4" width="300" height="200" />
        <text transform="matrix(1 0 0 1 716.8206 1858.1324)" class="svg-text">E4</text>
        <rect x="1628.6" y="1523.8" class="DE2" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.5798 1641.0325)" class="svg-text">DE2</text>
        <rect x="1628.6" y="1741.4" class="DE1" width="200" height="200" />
        <text transform="matrix(1 0 0 1 1668.5798 1857.6423)" class="svg-text">DE1</text>
    </svg>

</div>

<script>
    <% evidenta.forEach(item => {%>
        document.querySelector(".<%=item.identificator%>").classList.add(
            "<%if(item.liber==true){%>boxa-libera<%}else{%>boxa-ocupata<%}%>"); 
            <%}) %>
</script>


<form action="#" action="GET" id="selectForm" target="iframe">
    <input type="text" name="id-boxa" id="inputBoxa">
</form>

<!--
    ===========================================================================================================================================================================================
-->

<div class="menu">
    <iframe src="/hala4/view/S0" frameborder="0" id="iframe" name="iframe" onload="fadeIn(this)"></iframe>
</div>

<div class="sizeControl noselect">
    <div class="plus control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H173V262H128V172.5H37.5v-45H128V37h45v90.5h89.5Z" />
        </svg></div>
    <div class="reset control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">

            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0ZM69.82,199.89l-2-2L22,152l-4.92-4.92H55.54A94.76,94.76,0,0,1,150,55.49h.07a105.31,105.31,0,0,1,50.63,14.14l3.24,1.88-2.65,2.65L184.11,91.33l-1.48,1.48-1.87-1A70.92,70.92,0,0,0,150,84.16a66,66,0,0,0-65.74,63H122.6L117.68,152,71.86,197.86Zm206.18-47H244.46A94.78,94.78,0,0,1,150,244.51h-.07a105.31,105.31,0,0,1-50.63-14.14l-3.24-1.88,2.65-2.65,17.17-17.17,1.48-1.48,1.87.95a70.92,70.92,0,0,0,30.78,7.7,66,66,0,0,0,65.74-63H177.4l4.92-4.92,45.82-45.82,2-2,2,2L278,148l4.92,4.92Z" />
        </svg></div>
    <div class="minus control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">

            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H37.5v-45h225Z" />
        </svg></div>
</div>





<%- include("../partials/footer") %>