<%- include("../partials/header") %>
<!--
    Hala 10
-->

<div class="levelControl" onclick="event.stopPropagation()" onfocus="event.stopPropagation()">
	<div class="up">
		<svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
			<polygon points="43.3 0 0 75 86.6 75 43.3 0" />
		</svg>
	</div>
	<p id="levelLabel">parter</p>
	<div class="down">
		<svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
			<polygon points="43.3 0 0 75 86.6 75 43.3 0" />
		</svg>
	</div>
</div>
<!--
    ====================================================================================================================================
    =======================================================  schema hala 8  ============================================================
    ====================================================================================================================================
-->

<div id="mobile-div" class="container">
	<svg id="parter" class="layer" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1693.31 2610.71">
		<rect class="S1" y="2410.42" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 2535.74)">S1</text>
		<rect class="S2" y="2191.67" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 2312.82)">S2</text>
		<rect class="S3" y="1972.92" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 2099.98)">S3</text>
		<rect class="S4" y="1754.17" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 1875.6)">S4</text>
		<rect class="S5" y="1531.25" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 1656.11)">S5</text>
		<rect class="S6" y="1312.5" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 1439.41)">S6</text>
		<rect class="S7" y="1093.75" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 1216.49)">S7</text>
		<rect class="S8" y="875" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 1003.65)">S8</text>
		<rect class="S9" y="656.25" width="400" height="200" />
		<text class="svg-text" transform="translate(167.81 779.27)">S9</text>
		<rect class="S10" y="437.5" width="400" height="200" />
		<text class="svg-text" transform="translate(151.39 559.78)">S10</text>
		<rect class="S11" y="218.75" width="400" height="200" />
		<text class="svg-text" transform="translate(151.39 343.49)">S11</text>
		<rect class="S12" width="400" height="200" />
		<text class="svg-text" transform="translate(151.39 118)">S12</text>
		<rect class="D1" x="1243.31" y="2410.71" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.11 2528.91)">D1</text>
		<rect class="D2" x="1243.31" y="2191.96" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.11 2305.99)">D2</text>
		<rect class="D3" x="1243.31" y="1973.21" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.11 2093.14)">D3</text>
		<rect class="D4" x="1243.31" y="1754.46" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.11 1868.77)">D4</text>
		<rect class="D5" x="1243.31" y="1531.54" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.11 1649.27)">D5</text>
		<rect class="D6" x="1243.31" y="1312.79" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.11 1432.58)">D6</text>
		<rect class="D7" x="1243.31" y="1094.04" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.11 1209.66)">D7</text>
		<rect class="D8" x="1243.31" y="875.29" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.12 996.81)">D8</text>
		<rect class="D9" x="1243.31" y="656.54" width="450" height="200" />
		<text class="svg-text" transform="translate(1436.12 772.44)">D9</text>
		<rect class="D10" x="1243.31" y="437.79" width="450" height="200" />
		<text class="svg-text" transform="translate(1419.7 552.94)">D10</text>
		<rect class="D11" x="1243.31" y="219.04" width="450" height="200" />
		<text class="svg-text" transform="translate(1419.7 336.66)">D11</text>
		<rect class="D12" x="1243.31" y="0.29" width="450" height="200" />
		<text class="svg-text" transform="translate(1419.7 111.16)">D12</text>
		<rect class="C1" x="602.01" y="1968.75" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 2096.39)">C1</text>
		<rect class="C2" x="602.01" y="1750" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 1873.48)">C2</text>
		<rect class="C3" x="602.01" y="1531.25" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 1660.63)">C3</text>
		<rect class="C4" x="602.01" y="1312.5" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 1436.26)">C4</text>
		<rect class="C5" x="602.01" y="1093.75" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 1216.76)">C5</text>
		<rect class="C6" x="602.01" y="875" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 1000.06)">C6</text>
		<rect class="C7" x="602.01" y="656.25" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 777.15)">C7</text>
		<rect class="C8" x="602.01" y="437.5" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 564.3)">C8</text>
		<rect class="C9" x="602.01" y="218.75" width="200" height="200" />
		<text class="svg-text" transform="translate(669.82 339.93)">C9</text>
		<rect class="C10" x="602.01" width="200" height="200" />
		<text class="svg-text" transform="translate(653.41 120.43)">C10</text>
		<rect class="C11" x="842.35" y="1968.92" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 2096.39)">C11</text>
		<rect class="C12" x="842.35" y="1750.17" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 1873.48)">C12</text>
		<rect class="C13" x="842.35" y="1531.42" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 1660.63)">C13</text>
		<rect class="C14" x="842.35" y="1312.67" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 1436.26)">C14</text>
		<rect class="C15" x="842.35" y="1093.92" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 1216.76)">C15</text>
		<rect class="C16" x="842.35" y="875.17" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 1000.06)">C16</text>
		<rect class="C17" x="842.35" y="656.42" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 777.15)">C17</text>
		<rect class="C18" x="842.35" y="437.67" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 564.3)">C18</text>
		<rect class="C19" x="842.35" y="218.92" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 339.93)">C19</text>
		<rect class="C20" x="842.35" y="0.17" width="200" height="200" />
		<text class="svg-text" transform="translate(890.96 120.43)">C20</text>
	  </svg>	  

	<svg id="etaj" class="layer hide" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1679.29 2580.84">
		<rect class="E21" x="342.78" y="4.03" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 123.24)">E21</text>
		<rect class="E20" x="342.78" y="220.28" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 339.49)">E20</text>
		<rect class="E19" x="342.78" y="436.53" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 555.74)">E19</text>
		<rect class="E18" x="342.78" y="652.78" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 771.99)">E18</text>
		<rect class="E17" x="342.78" y="869.03" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 988.24)">E17</text>
		<rect class="E16" x="342.78" y="1085.28" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 1204.49)">E16</text>
		<rect class="E15" x="342.78" y="1301.53" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 1420.74)">E15</text>
		<rect class="E14" x="342.78" y="1517.79" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 1636.99)">E14</text>
		<rect class="E13" x="342.78" y="1734.04" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 1853.24)">E13</text>
		<rect class="E30" x="569.88" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 119.2)">E30</text>
		<rect class="E29" x="569.88" y="216.25" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 335.45)">E29</text>
		<rect class="E28" x="569.88" y="432.5" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 551.71)">E28</text>
		<rect class="E27" x="569.88" y="648.75" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 767.96)">E27</text>
		<rect class="E26" x="569.88" y="865" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 984.21)">E26</text>
		<rect class="E25" x="569.88" y="1081.25" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 1200.46)">E25</text>
		<rect class="E24" x="569.88" y="1297.5" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 1416.71)">E24</text>
		<rect class="E23" x="569.88" y="1513.75" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 1632.96)">E23</text>
		<rect class="E22" x="569.88" y="1730" width="200" height="200" />
		<text class="svg-text" transform="translate(605.82 1849.21)">E22</text>
		<rect class="E39" x="912.74" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 119.2)">E39</text>
		<rect class="E38" x="912.74" y="216.25" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 335.45)">E38</text>
		<rect class="E37" x="912.74" y="432.5" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 551.71)">E37</text>
		<rect class="E36" x="912.74" y="648.75" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 767.96)">E36</text>
		<rect class="E35" x="912.74" y="865" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 984.21)">E35</text>
		<rect class="E34" x="912.74" y="1081.25" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 1200.46)">E34</text>
		<rect class="E33" x="912.74" y="1297.5" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 1416.71)">E33</text>
		<rect class="E32" x="912.74" y="1513.75" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 1632.96)">E32</text>
		<rect class="E31" x="912.74" y="1730" width="200" height="200" />
		<text class="svg-text" transform="translate(948.69 1849.21)">E31</text>
		<rect class="E48" x="1139.31" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 119.2)">E48</text>
		<rect class="E47" x="1139.31" y="216.25" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 335.45)">E47</text>
		<rect class="E46" x="1139.31" y="432.5" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 551.71)">E46</text>
		<rect class="E45" x="1139.31" y="648.75" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 767.96)">E45</text>
		<rect class="E44" x="1139.31" y="865" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 984.21)">E44</text>
		<rect class="E43" x="1139.31" y="1081.25" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 1200.46)">E43</text>
		<rect class="E42" x="1139.31" y="1297.5" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 1416.71)">E42</text>
		<rect class="E41" x="1139.31" y="1513.75" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 1632.96)">E41</text>
		<rect class="E40" x="1139.31" y="1730" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 1849.21)">E40</text>
		<rect class="E60" x="1479.29" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 119.2)">E60</text>
		<rect class="E59" x="1479.29" y="216.25" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 335.45)">E59</text>
		<rect class="E58" x="1479.29" y="432.5" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 551.71)">E58</text>
		<rect class="E57" x="1479.29" y="648.75" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 767.96)">E57</text>
		<rect class="E56" x="1479.29" y="865" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 984.21)">E56</text>
		<rect class="E55" x="1479.29" y="1081.25" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 1200.46)">E55</text>
		<rect class="E54" x="1479.29" y="1297.5" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 1416.71)">E54</text>
		<rect class="E53" x="1479.29" y="1513.75" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 1632.96)">E53</text>
		<rect class="E52" x="1479.29" y="1730" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 1849.21)">E52</text>
		<rect class="E51" x="1479.29" y="1948.34" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 2067.54)">E51</text>
		<rect class="E50" x="1479.29" y="2164.59" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 2283.79)">E50</text>
		<rect class="E49" x="1479.29" y="2380.84" width="200" height="200" />
		<text class="svg-text" transform="translate(1515.23 2500.04)">E49</text>
		<rect class="E64" x="1139.31" y="2158.55" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 2277.75)">E64</text>
		<rect class="E63" x="1139.31" y="2374.8" width="200" height="200" />
		<text class="svg-text" transform="translate(1175.25 2494)">E63</text>
		<rect class="E62" x="342.78" y="2142.22" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 2261.43)">E62</text>
		<rect class="E61" x="342.78" y="2358.47" width="200" height="200" />
		<text class="svg-text" transform="translate(378.73 2477.68)">E61</text>
		<rect class="E12" y="2.09" width="200" height="200" />
		<text class="svg-text" transform="translate(35.95 121.29)">E12</text>
		<rect class="E11" y="218.34" width="200" height="200" />
		<text class="svg-text" transform="translate(38.62 337.54)">E11</text>
		<rect class="E10" y="434.59" width="200" height="200" />
		<text class="svg-text" transform="translate(35.95 553.79)">E10</text>
		<rect class="E9" y="650.84" width="200" height="200" />
		<text class="svg-text" transform="translate(55.97 770.04)">E9</text>
		<rect class="E8" y="867.09" width="200" height="200" />
		<text class="svg-text" transform="translate(55.97 986.29)">E8</text>
		<rect class="E7" y="1083.34" width="200" height="200" />
		<text class="svg-text" transform="translate(55.97 1202.54)">E7</text>
		<rect class="E6" y="1299.59" width="200" height="200" />
		<text class="svg-text" transform="translate(55.97 1418.79)">E6</text>
		<rect class="E5" y="1515.84" width="200" height="200" />
		<text class="svg-text" transform="translate(55.97 1635.04)">E5</text>
		<rect class="E4" y="1732.09" width="200" height="200" />
		<text class="svg-text" transform="translate(55.97 1851.29)">E4</text>
		<rect class="E3" y="1950.42" width="200" height="200" />
		<text class="svg-text" transform="translate(55.97 2069.63)">E3</text>
		<rect class="E2" y="2166.67" width="200" height="200" />
		<text class="svg-text" transform="translate(55.97 2285.88)">E2</text>
		<rect class="E1" y="2382.92" width="200" height="170" />
		<text class="svg-text" transform="translate(55.97 2484.25)">E1</text>
	</svg>
</div>

<script>
	<% evidenta.forEach(item => {%>
	    document.querySelector(".<%=item.identificator%>").classList.add(
	        "<%if(item.liber==true){%>boxa-libera<%}else{%>boxa-ocupata<%}%>");
	        <%}) %>
</script>

<form action="#" action="GET" id="selectForm" target="iframe">
	<input type="text" name="id-boxa" id="inputBoxa" />
</form>

<!--
    ===========================================================================================================================================================================================
-->

<div class="menu">
	<iframe src="/hala10/view/S1" frameborder="0" id="iframe" name="iframe" onload="fadeIn(this)"></iframe>
</div>

<div class="sizeControl noselect">
	<div class="plus control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path
				d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H173V262H128V172.5H37.5v-45H128V37h45v90.5h89.5Z"
			/></svg
	></div>
	<div class="reset control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path
				d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0ZM69.82,199.89l-2-2L22,152l-4.92-4.92H55.54A94.76,94.76,0,0,1,150,55.49h.07a105.31,105.31,0,0,1,50.63,14.14l3.24,1.88-2.65,2.65L184.11,91.33l-1.48,1.48-1.87-1A70.92,70.92,0,0,0,150,84.16a66,66,0,0,0-65.74,63H122.6L117.68,152,71.86,197.86Zm206.18-47H244.46A94.78,94.78,0,0,1,150,244.51h-.07a105.31,105.31,0,0,1-50.63-14.14l-3.24-1.88,2.65-2.65,17.17-17.17,1.48-1.48,1.87.95a70.92,70.92,0,0,0,30.78,7.7,66,66,0,0,0,65.74-63H177.4l4.92-4.92,45.82-45.82,2-2,2,2L278,148l4.92,4.92Z"
			/></svg
	></div>
	<div class="minus control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H37.5v-45h225Z" /></svg
	></div>
</div>

<%- include("../partials/footer") %>
