<%- include("../partials/header") %>
<!--
    Hala 1
-->



<div class="levelControl" onclick="event.stopPropagation()" onfocus="event.stopPropagation()">
    <div class="up">
        <svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
            <polygon points="43.3 0 0 75 86.6 75 43.3 0" /></svg>
    </div>
    <p id="levelLabel">parter</p>
    <div class="down">
        <svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
            <polygon points="43.3 0 0 75 86.6 75 43.3 0" /></svg>
    </div>
</div>
<!--
    ====================================================================================================================================
    =======================================================  schema hala 1  ============================================================
    ====================================================================================================================================
-->

<div id="mobile-div" class="container">

    <svg id="parter" class="layer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1201.08 1852.95" width="100%">
        <rect class="P8S" x="0.5" y="0.5" width="500" height="200" />
        <text class="svg-text" transform="translate(182.46 120.6)">P8S</text>
        <rect class="P7S" x="0.5" y="219.5" width="500" height="200" />
        <text class="svg-text" transform="translate(182.12 339.6)">P7S</text>
        <rect class="P6S" x="0.5" y="438.5" width="500" height="200" />
        <text class="svg-text" transform="translate(182.12 558.6)">P6S</text>
        <rect class="P5S" x="0.58" y="657.45" width="500" height="200" />
        <text class="svg-text" transform="translate(182.2 777.55)">P5S</text>
        <rect class="P4S" x="0.58" y="876.45" width="500" height="200" />
        <text class="svg-text" transform="translate(182.2 996.55)">P4S</text>
        <rect class="P3S" x="0.58" y="1094.45" width="500" height="200" />
        <text class="svg-text" transform="translate(182.2 1214.55)">P3S</text>
        <rect class="P2S" x="0.58" y="1313.45" width="500" height="200" />
        <text class="svg-text" transform="translate(182.2 1433.55)">P2S</text>
        <rect class="P1S" x="0.58" y="1532.45" width="500" height="200" />
        <text class="svg-text" transform="translate(182.2 1652.55)">P1S</text>
        <rect class="P0S" x="0.58" y="1750.45" width="500" height="100" />
        <text class="svg-text" transform="translate(182.2 1820.55)">P0S</text>
        <rect class="P7D" x="700.5" y="0.5" width="500" height="200" />
        <text class="svg-text" transform="translate(882.45 121.12)">P7D</text>
        <rect class="P6D" x="700.5" y="219.5" width="500" height="200" />
        <text class="svg-text" transform="translate(882.46 340.12)">P6D</text>
        <rect class="P5D" x="700.5" y="438.5" width="500" height="200" />
        <text class="svg-text" transform="translate(882.46 559.12)">P5D</text>
        <rect class="P4D" x="700.5" y="657.5" width="500" height="200" />
        <text class="svg-text" transform="translate(882.45 778.07)">P4D</text>
        <rect class="P3D" x="700.5" y="876.5" width="500" height="200" />
        <text class="svg-text" transform="translate(882.45 997.07)">P3D</text>
        <rect class="P2D" x="700.5" y="1095.5" width="500" height="200" />
        <text class="svg-text" transform="translate(882.45 1215.07)">P2D</text>
        <polygon class="Birou0" points="700.58 1533.45 1200.58 1533.45 1200.58 1852.45 950.58 1852.45 700.58 1533.45" />
        <text class="svg-text" transform="translate(950 1700)">Birou0</text>
        <rect class="P1D" x="700.5" y="1314.5" width="500" height="200" />
        <text class="svg-text" transform="translate(882.45 1434.07)">P1D</text>
    </svg>

    <svg id="etaj" class="layer hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1201 2006.23" width="100%">
        <rect class="E1S" y="1694.48" width="499.53" height="299.71" /><text class="svg-text"
            transform="translate(189.1 1868.31)">E1S</text>
        <rect class="E2S" x="1.09" y="1482.68" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(188.6 1615.21)">E2S</text>
        <rect class="E3S" x="1.09" y="1270.87" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(188.6 1400.62)">E3S</text>
        <rect class="E4S" x="1.09" y="1059.07" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(188.6 1190.79)">E4S</text>
        <rect class="E5S" x="1.09" y="847.27" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(188.6 980.96)">E5S</text>
        <rect class="E6S" x="1.09" y="635.4" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(188.6 772.7)">E6S</text>
        <rect class="E7S" x="1.09" y="423.6" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(188.6 558.11)">E7S</text>
        <rect class="E8S" x="1.09" y="211.8" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(188.6 343.52)">E8S</text>
        <rect class="E9S" x="1.09" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(188.6 127.3)">E9S</text>
        <rect class="E7D" x="701.47" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(884.08 127.3)">E7D</text>
        <rect class="E6D" x="701.47" y="211.8" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(884.08 337.13)">E6D</text>
        <rect class="E5D" x="701.47" y="423.6" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(884.08 551.79)">E5D</text>
        <rect class="E4D" x="701.47" y="635.4" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(884.08 772.7)">E4D</text>
        <rect class="E3D" x="701.47" y="847.27" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(884.08 980.96)">E3D</text>
        <rect class="E2D" x="701.47" y="1059.07" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(884.08 1190.79)">E2D</text>
        <rect class="E1D" x="701.47" y="1270.87" width="499.53" height="199.83" /><text class="svg-text"
            transform="translate(884.08 1400.62)">E1D</text>
        <polygon class="Birou1" points="1201 2004.18 1005.19 2006.22 701.47 1482.68 1201 1482.68 1201 2004.18" />
        <text class="svg-text" transform="translate(932.26 1744.41)">Birou 1</text>
    </svg>

</div>

<script>
    <%evidenta.forEach(item=>{%>
        document.querySelector(".<%=item.identificator%>").classList.add("<%if(item.liber==true){%>boxa-libera<%}else{%>boxa-ocupata<%}%>");
    <%})%>
</script>


<form action="#" action="GET" id="selectForm" target="iframe">
    <input type="text" name="id-boxa" id="inputBoxa">
</form>

<!--
    ===========================================================================================================================================================================================
-->

<div class="menu">
    <iframe src="/hala1/view/P0S" frameborder="0" id="iframe" name="iframe" onload="fadeIn(this)"></iframe>
</div>

<div class="sizeControl noselect">
    <div class="plus control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H173V262H128V172.5H37.5v-45H128V37h45v90.5h89.5Z" />
        </svg></div>
    <div class="reset control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">

            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0ZM69.82,199.89l-2-2L22,152l-4.92-4.92H55.54A94.76,94.76,0,0,1,150,55.49h.07a105.31,105.31,0,0,1,50.63,14.14l3.24,1.88-2.65,2.65L184.11,91.33l-1.48,1.48-1.87-1A70.92,70.92,0,0,0,150,84.16a66,66,0,0,0-65.74,63H122.6L117.68,152,71.86,197.86Zm206.18-47H244.46A94.78,94.78,0,0,1,150,244.51h-.07a105.31,105.31,0,0,1-50.63-14.14l-3.24-1.88,2.65-2.65,17.17-17.17,1.48-1.48,1.87.95a70.92,70.92,0,0,0,30.78,7.7,66,66,0,0,0,65.74-63H177.4l4.92-4.92,45.82-45.82,2-2,2,2L278,148l4.92,4.92Z" />
        </svg></div>
    <div class="minus control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">

            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H37.5v-45h225Z" />
        </svg></div>
</div>





<%- include("../partials/footer") %>