<%- include("../partials/header") %>
<!--
    Hala 5
-->

<div class="levelControl" onclick="event.stopPropagation()" onfocus="event.stopPropagation()">
	<div class="up">
		<svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
			<polygon points="43.3 0 0 75 86.6 75 43.3 0" />
		</svg>
	</div>
	<p id="levelLabel">parter</p>
	<div class="down">
		<svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
			<polygon points="43.3 0 0 75 86.6 75 43.3 0" />
		</svg>
	</div>
</div>
<!--
    ====================================================================================================================================
    =======================================================  schema hala 5  ============================================================
    ====================================================================================================================================
-->

<div id="mobile-div" class="container">
	<svg id="parter" class="layer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1939.23 1415.39">
		<rect class="TP1" x="0.02" width="200" height="250" />
		<text class="svg-text" transform="translate(44.86 146.04)">TP1</text>
		<rect class="TP2" x="217.02" width="200" height="250" />
		<text class="svg-text" transform="translate(261.86 146.04)">TP2</text>
		<rect class="TP3" x="434.02" width="200" height="250" />
		<text class="svg-text" transform="translate(478.86 146.04)">TP3</text>
		<rect class="TP4" x="651.02" y="1" width="200" height="250" />
		<text class="svg-text" transform="translate(695.86 147.04)">TP4</text>
		<rect class="TP5" x="868.02" width="200" height="250" />
		<text class="svg-text" transform="translate(912.86 146.04)">TP5</text>
		<rect class="TP6" x="1078.02" width="200" height="250" />
		<text class="svg-text" transform="translate(1122.86 146.04)">TP6</text>
		<rect class="TP7" x="1293.02" width="200" height="250" />
		<text class="svg-text" transform="translate(1337.86 146.04)">TP7</text>
		<rect class="TP8" x="1511.02" y="2" width="200" height="250" />
		<text class="svg-text" transform="translate(1555.86 148.04)">TP8</text>
		<rect class="TP9" x="1730.02" y="3" width="200" height="250" />
		<text class="svg-text" transform="translate(1767.86 149.04)">TP9</text>
		<rect class="TP10" y="432.5" width="200" height="500" />
		<text class="svg-text" transform="translate(17.63 703.54)">TP10</text>
		<rect class="TP11" x="217" y="432.5" width="200" height="500" />
		<text class="svg-text" transform="translate(234.63 703.54)">TP11</text>
		<rect class="TP12" x="434" y="432.5" width="200" height="500" />
		<text class="svg-text" transform="translate(451.63 703.54)">TP12</text>
		<rect class="TP13" x="651" y="432.5" width="200" height="500" />
		<text class="svg-text" transform="translate(668.63 703.54)">TP13</text>
		<rect class="TP14" x="1067.02" y="433" width="200" height="500" />
		<text class="svg-text" transform="translate(1084.65 704.04)">TP14</text>
		<rect class="TP15" x="1293" y="432.5" width="200" height="500" />
		<text class="svg-text" transform="translate(1310.63 703.54)">TP15</text>
		<rect class="TP16" x="1519" y="432.5" width="200" height="500" />
		<text class="svg-text" transform="translate(1536.63 703.54)">TP16</text>
		<rect class="TP17" x="1739.02" y="433" width="200" height="500" />
		<text class="svg-text" transform="translate(1756.65 704.04)">TP17</text>
		<rect class="TP21" x="1078.23" y="1113.39" width="200" height="300" />
		<text class="svg-text" transform="translate(1095.86 1284.43)">TP21</text>
		<rect class="TP20" x="1299.23" y="1115.39" width="200" height="300" />
		<text class="svg-text" transform="translate(1316.86 1286.43)">TP20</text>
		<rect class="TP19" x="1519.23" y="1113.39" width="200" height="300" />
		<text class="svg-text" transform="translate(1536.86 1284.43)">TP19</text>
		<rect class="TP18" x="1739.23" y="1113.39" width="200" height="300" />
		<text class="svg-text" transform="translate(1756.86 1284.43)">TP18</text>
		<rect class="TP23" x="640.5" y="1111.39" width="200" height="300" />
		<text class="svg-text" transform="translate(658.13 1282.43)">TP23</text>
		<rect class="TP22" x="861.5" y="1113.39" width="200" height="300" />
		<text class="svg-text" transform="translate(879.13 1284.43)">TP22</text>
	</svg>

	<svg
		version="1.1"
		id="etaj"
		class="layer hide"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		x="0px"
		y="0px"
		viewBox="0 0 1934 1406"
		style="enable-background: new 0 0 1934 1406"
		xml:space="preserve"
	>
		<rect class="TE1" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 37.84 121.04)">TE1</text>
		<rect class="TE2" x="217" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 254.84 121.04)">TE2</text>
		<rect class="TE3" x="433" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 470.84 121.04)">TE3</text>
		<rect class="TE4" x="651.6" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 689.42 121.04)">TE4</text>
		<rect class="TE5" x="874" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 911.84 121.04)">TE5</text>
		<rect class="TE6" x="1089" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1126.84 121.04)">TE6</text>
		<rect class="TE7" x="1304" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1341.84 121.04)">TE7</text>
		<rect class="TE8" x="1519" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1556.84 121.04)">TE8</text>
		<rect class="TE9" x="1734" width="200" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1771.84 121.04)">TE9</text>
		<rect class="TE10" y="353" width="200" height="500" />
		<text class="svg-text" transform="matrix(1 0 0 1 17.63 624.04)">TE10</text>
		<rect class="TE11" x="217" y="353" width="200" height="500" />
		<text class="svg-text" transform="matrix(1 0 0 1 234.63 624.04)">TE11</text>
		<rect class="TE12" x="434" y="353" width="200" height="500" />
		<text class="svg-text" transform="matrix(1 0 0 1 451.63 624.04)">TE12</text>
		<rect class="TE13" x="651" y="353" width="200" height="500" />
		<text class="svg-text" transform="matrix(1 0 0 1 668.63 624.04)">TE13</text>
		<rect class="TE14" x="874" y="353" width="200" height="500" />
		<text class="svg-text" transform="matrix(1 0 0 1 891.63 624.04)">TE14</text>
		<rect class="TE15" x="1293" y="353" width="200" height="500" />
		<text class="svg-text" transform="matrix(1 0 0 1 1310.63 624.04)">TE15</text>
		<rect class="TE16" x="1519" y="353" width="200" height="500" />
		<text class="svg-text" transform="matrix(1 0 0 1 1536.63 624.04)">TE16</text>
		<rect class="TE17" x="1734" y="353" width="200" height="500" />
		<text class="svg-text" transform="matrix(1 0 0 1 1751.63 624.04)">TE17</text>
		<rect class="TE21" x="1088.5" y="1006" width="200" height="400" />
		<text class="svg-text" transform="matrix(1 0 0 1 1106.13 1227.04)">TE21</text>
		<rect class="TE20" x="1303.5" y="1006" width="200" height="400" />
		<text class="svg-text" transform="matrix(1 0 0 1 1321.13 1227.04)">TE20</text>
		<rect class="TE19" x="1518.5" y="1006" width="200" height="400" />
		<text class="svg-text" transform="matrix(1 0 0 1 1536.13 1227.04)">TE19</text>
		<rect class="TE18" x="1733.5" y="1006" width="200" height="400" />
		<text class="svg-text" transform="matrix(1 0 0 1 1751.13 1227.04)">TE18</text>
		<rect class="TE22" x="873.5" y="1006" width="200" height="400" />
		<text class="svg-text" transform="matrix(1 0 0 1 891.13 1227.04)">TE22</text>
		<rect class="TE23" x="658.5" y="1006" width="200" height="195" />
		<text class="svg-text" transform="matrix(1 0 0 1 677.7859 1130.6162)">TE23</text>
		<rect class="TE24" x="658.5" y="1211" width="200" height="195" />
		<text class="svg-text" transform="matrix(1 0 0 1 677.7859 1327.7041)">TE24</text>
		<rect class="TE26" x="2" y="1006" width="200" height="195" />
		<text class="svg-text" transform="matrix(1 0 0 1 21.2859 1130.6162)">TE26</text>
		<rect class="TE25" x="2" y="1211" width="200" height="195" />
		<text class="svg-text" transform="matrix(1 0 0 1 21.2859 1327.7041)">TE25</text>
	</svg>
</div>

<script>
	<%evidenta.forEach(item=>{%>
	    document.querySelector(".<%=item.identificator%>").classList.add("<%if(item.liber==true){%>boxa-libera<%}else{%>boxa-ocupata<%}%>");
	<%})%>
</script>

<form action="#" action="GET" id="selectForm" target="iframe">
	<input type="text" name="id-boxa" id="inputBoxa" />
</form>

<!--
    ===========================================================================================================================================================================================
-->

<div class="menu">
	<iframe src="/hala5/view/TP1" frameborder="0" id="iframe" name="iframe" onload="fadeIn(this)"></iframe>
</div>

<div class="sizeControl noselect">
	<div class="plus control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path
				d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H173V262H128V172.5H37.5v-45H128V37h45v90.5h89.5Z"
			/></svg
	></div>
	<div class="reset control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path
				d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0ZM69.82,199.89l-2-2L22,152l-4.92-4.92H55.54A94.76,94.76,0,0,1,150,55.49h.07a105.31,105.31,0,0,1,50.63,14.14l3.24,1.88-2.65,2.65L184.11,91.33l-1.48,1.48-1.87-1A70.92,70.92,0,0,0,150,84.16a66,66,0,0,0-65.74,63H122.6L117.68,152,71.86,197.86Zm206.18-47H244.46A94.78,94.78,0,0,1,150,244.51h-.07a105.31,105.31,0,0,1-50.63-14.14l-3.24-1.88,2.65-2.65,17.17-17.17,1.48-1.48,1.87.95a70.92,70.92,0,0,0,30.78,7.7,66,66,0,0,0,65.74-63H177.4l4.92-4.92,45.82-45.82,2-2,2,2L278,148l4.92,4.92Z"
			/></svg
	></div>
	<div class="minus control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H37.5v-45h225Z" /></svg
	></div>
</div>

<%- include("../partials/footer") %>
