<%- include("../partials/header") %>
<!--
    Hala 3
-->

<div class="levelControl" onclick="event.stopPropagation()" onfocus="event.stopPropagation()">
	<div class="up">
		<svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
			<polygon points="43.3 0 0 75 86.6 75 43.3 0" />
		</svg>
	</div>
	<p id="levelLabel">parter</p>
	<div class="down">
		<svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
			<polygon points="43.3 0 0 75 86.6 75 43.3 0" />
		</svg>
	</div>
</div>
<!--
    ====================================================================================================================================
    =======================================================  schema hala 3  ============================================================
    ====================================================================================================================================
-->

<div id="mobile-div" class="container">
	<svg
		version="1.1"
		id="parter"
		class="layer"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		x="0px"
		y="0px"
		viewBox="0 0 1920 1824"
		style="enable-background: new 0 0 1920 1824"
		xml:space="preserve"
	>
		<rect x="73" y="1510" width="400" height="314" class="zid" />
		<!--zid-->
		<rect x="1346.5" y="432" width="500" height="100" class="contuar" />
		<!--hol contuar-->
		<rect class="B1" x="1344.5" y="1623.5" width="500" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1551.865 1744.54)">B1</text>
		<rect class="B2" x="1344.5" y="1409.2" width="500" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1551.865 1530.29)">B2</text>
		<rect class="B3" x="1344.5" y="1195" width="500" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1551.865 1316.04)">B3</text>
		<rect class="B4" x="1344.5" y="982" width="500" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1551.865 1103.04)">B4</text>
		<rect class="B5" x="1345.5" y="763.8" width="500" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1552.865 884.87)">B5</text>
		<rect class="B6" x="1344.5" y="548" width="500" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1551.865 669.04)">B6</text>
		<rect class="B7" x="1347" y="216" width="500" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1554.355 337.04)">B7</text>
		<rect class="B8" x="1347" width="500" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1554.355 121.04)">B8</text>
		<rect class="B10" x="73.5" y="216" width="400" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 210.665 337.04)">B10</text>
		<rect class="B9" x="73.5" width="400" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 230.875 121.04)">B9</text>
		<rect class="B12" x="73.6" y="648" width="400" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 210.765 769.04)">B12</text>
		<rect class="B11" x="73.6" y="432" width="400" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 210.765 553.04)">B11</text>
		<rect class="B14" x="73.6" y="1080" width="400" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 210.765 1201.04)">B14</text>
		<rect class="B13" x="73" y="864" width="400" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 210.175 985.04)">B13</text>
		<rect class="B15" x="624.5" width="275" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 696.0107 121.04)">B15</text>
		<rect class="B24" x="918.5" width="275" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 996.8073 121.04)">B24</text>
		<rect class="B17" x="624" y="432" width="570" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 846.205 553.04)">B17</text>
		<rect class="B20" x="624" y="1080" width="570" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 846.205 1201.04)">B20</text>
		<rect class="Birou0" x="73" y="1295" width="400" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 169.445 1416.04)">Birou0</text>
		<rect class="B16" x="625.5" y="216" width="275" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 696.0107 337.9036)">B16</text>
		<rect class="B21" x="918.5" y="216" width="275" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 996.8073 338.7668)">B21</text>
		<rect class="B18" x="625.1" y="647.9" width="275" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 695.5207 769.8135)">B18</text>
		<rect class="B22" x="918" y="647.9" width="275" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 996.3173 770.6768)">B22</text>
		<rect class="B19" x="625.5" y="865.1" width="367.1" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 750.6041 988.7295)">B19</text>
		<rect class="B23" x="1013" y="865.1" width="180" height="200" />
		<text class="svg-text" transform="matrix(1 0 0 1 1043.8174 987.8657)">B23</text>
	</svg>

	<svg id="etaj" class="layer hide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1771.4 1826" width="100%">
		<rect y="1512" width="400" height="314" class="zid" />
		<!--zid-->
		<rect class="E1" x="1270.3" y="1624.25" width="500" height="200" />
		<text class="svg-text" transform="translate(1479.63 1745.29)">E1</text>
		<rect class="E2" x="1271.4" y="1410.25" width="500" height="200" />
		<text class="svg-text" transform="translate(1480.73 1531.29)">E2</text>
		<rect class="E3" x="1270.3" y="1195.38" width="500" height="200" />
		<text class="svg-text" transform="translate(1479.63 1316.42)">E3</text>
		<rect class="E4" x="1271.4" y="979.81" width="500" height="200" />
		<text class="svg-text" transform="translate(1480.73 1100.85)">E4</text>
		<rect class="E5" x="1270.3" y="764.03" width="500" height="200" />
		<text class="svg-text" transform="translate(1479.63 885.07)">E5</text>
		<rect class="E6" x="1270.3" y="548.75" width="500" height="200" />
		<text class="svg-text" transform="translate(1479.63 669.79)">E6</text>
		<rect class="E7" x="1271.4" y="216.63" width="500" height="315.5" />
		<text class="svg-text" transform="translate(1480.73 395.42)">E7</text>
		<rect class="E8" x="1271.4" width="500" height="200" />
		<text class="svg-text" transform="translate(1480.73 121.04)">E8</text>
		<rect class="E10" y="216.75" width="400" height="200" />
		<text class="svg-text" transform="translate(139.11 337.79)">E10</text>
		<rect class="E9" x="1.1" width="400" height="200" />
		<text class="svg-text" transform="translate(160.42 121.04)">E9</text>
		<rect class="E14" y="864.25" width="400" height="200" />
		<text class="svg-text" transform="translate(139.11 985.29)">E14</text>
		<rect class="E13" y="1078.75" width="400" height="200" />
		<text class="svg-text" transform="translate(139.11 1199.79)">E13</text>
		<rect class="Birou1" y="1295.38" width="400" height="200" />
		<text class="svg-text" transform="translate(96.43 1416.42)">Birou1</text>
		<rect class="C1" x="628.25" y="1079" width="200" height="200" />
		<text class="svg-text" transform="translate(684.6 1200.04)">C1</text>
		<rect class="C2" x="628.25" y="863.38" width="200" height="200" />
		<text class="svg-text" transform="translate(684.6 984.42)">C2</text>
		<rect class="C3" x="628.25" y="647.75" width="200" height="200" />
		<text class="svg-text" transform="translate(684.6 768.79)">C3</text>
		<rect class="C4" x="628.25" y="432.13" width="200" height="200" />
		<text class="svg-text" transform="translate(684.6 553.17)">C4</text>
		<rect class="C5" x="839.58" y="1079.81" width="200" height="200" />
		<text class="svg-text" transform="translate(895.93 1200.85)">C5</text>
		<rect class="C6" x="839.58" y="864.25" width="200" height="200" />
		<text class="svg-text" transform="translate(895.93 985.29)">C6</text>
		<rect class="C7" x="839.58" y="649.75" width="200" height="200" />
		<text class="svg-text" transform="translate(895.93 770.79)">C7</text>
		<rect class="C8" x="839.58" y="433.75" width="200" height="200" />
		<text class="svg-text" transform="translate(895.93 554.79)">C8</text>
		<rect class="E11" x="530.02" width="300" height="200" />
		<text class="svg-text" transform="translate(619.13 121.04)">E11</text>
		<rect class="E12" x="528.92" y="216.75" width="300" height="200" />
		<text class="svg-text" transform="translate(618.03 337.79)">E12</text>
		<rect class="E16" x="1.1" y="431.75" width="400" height="200" />
		<text class="svg-text" transform="translate(140.21 552.79)">E16</text>
		<rect class="E15" y="647.75" width="400" height="200" />
		<text class="svg-text" transform="translate(139.11 768.79)">E15</text>
		<rect class="E19" x="840.17" width="300" height="200" />
		<text class="svg-text" transform="translate(929.28 121.04)">E19</text>
		<rect class="E18" x="839.08" y="216.38" width="300" height="200" />
		<text class="svg-text" transform="translate(928.19 337.42)">E18</text>
	</svg>
</div>

<script>
	<%evidenta.forEach(item=>{%>
	    document.querySelector(".<%=item.identificator%>").classList.add("<%if(item.liber==true){%>boxa-libera<%}else{%>boxa-ocupata<%}%>");
	<%})%>
</script>

<form action="#" action="GET" id="selectForm" target="iframe">
	<input type="text" name="id-boxa" id="inputBoxa" />
</form>

<!--
    ===========================================================================================================================================================================================
-->

<div class="menu">
	<iframe src="/hala3/view/B1" frameborder="0" id="iframe" name="iframe" onload="fadeIn(this)"></iframe>
</div>

<div class="sizeControl noselect">
	<div class="plus control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path
				d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H173V262H128V172.5H37.5v-45H128V37h45v90.5h89.5Z"
			/></svg
	></div>
	<div class="reset control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path
				d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0ZM69.82,199.89l-2-2L22,152l-4.92-4.92H55.54A94.76,94.76,0,0,1,150,55.49h.07a105.31,105.31,0,0,1,50.63,14.14l3.24,1.88-2.65,2.65L184.11,91.33l-1.48,1.48-1.87-1A70.92,70.92,0,0,0,150,84.16a66,66,0,0,0-65.74,63H122.6L117.68,152,71.86,197.86Zm206.18-47H244.46A94.78,94.78,0,0,1,150,244.51h-.07a105.31,105.31,0,0,1-50.63-14.14l-3.24-1.88,2.65-2.65,17.17-17.17,1.48-1.48,1.87.95a70.92,70.92,0,0,0,30.78,7.7,66,66,0,0,0,65.74-63H177.4l4.92-4.92,45.82-45.82,2-2,2,2L278,148l4.92,4.92Z"
			/></svg
	></div>
	<div class="minus control"
		><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
			<path d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H37.5v-45h225Z" /></svg
	></div>
</div>

<%- include("../partials/footer") %>
