<%- include("../partials/header") %>
<!--
    Hala 6
-->



<div class="levelControl" onclick="event.stopPropagation()" onfocus="event.stopPropagation()">
    <div class="up">
        <svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
            <polygon points="43.3 0 0 75 86.6 75 43.3 0" /></svg>
    </div>
    <p id="levelLabel">parter</p>
    <div class="down">
        <svg class="control" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.6 75">
            <polygon points="43.3 0 0 75 86.6 75 43.3 0" /></svg>
    </div>
</div>
<!--
    ====================================================================================================================================
    =======================================================  schema hala 6  ============================================================
    ====================================================================================================================================
-->

<div id="mobile-div" class="container">

    <svg id="parter" class="layer" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2019.26 3300.5">
        <rect class="S3" x="1" y="2657.6" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 155 2778.78)" class="svg-text">S3</text>
        <rect class="C1" x="676.6" y="2659.6" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 2780.78)" class="svg-text">C1</text>
        <rect class="S4" x="1" y="2436.2" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 155 2557.3501)" class="svg-text">S4</text>
        <rect class="C2" x="676.6" y="2438.2" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 2559.3501)" class="svg-text">C2</text>
        <rect class="S5" x="1" y="2214.8" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 155 2335.9199)" class="svg-text">S5</text>
        <rect class="C3" x="676.6" y="2216.8" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 2337.9199)" class="svg-text">C3</text>
        <rect class="S6" x="1" y="1993.4" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 155 2114.49)" class="svg-text">S6</text>
        <rect class="C4" x="676.6" y="1995.4" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 2116.49)" class="svg-text">C4</text>
        <rect class="S7" x="1" y="1771.9" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 155 1893.0601)" class="svg-text">S7</text>
        <rect class="C5" x="676.6" y="1773.9" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 1895.0601)" class="svg-text">C5</text>
        <rect class="S8" y="1550.5" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 146.07 1671.63)" class="svg-text">S8</text>
        <rect class="C6" x="676.6" y="1552.5" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 1673.63)" class="svg-text">C6</text>
        <rect class="S9" x="1" y="1329.1" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 155 1450.2)" class="svg-text">S9</text>
        <rect class="C7" x="676.6" y="1331.1" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 1452.2)" class="svg-text">C7</text>
        <rect class="S10" x="1" y="1107.6" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 128.61 1228.78)" class="svg-text">S10</text>
        <rect class="C8" x="676.6" y="1109.6" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 1230.78)" class="svg-text">C8</text>
        <rect class="S11" x="1" y="886.2" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 128.61 1007.3501)" class="svg-text">S11</text>
        <rect class="C9" x="676.6" y="888.2" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 887.2703 1009.3501)" class="svg-text">C9</text>
        <rect class="S12" x="1" y="664.8" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 128.61 785.9199)" class="svg-text">S12</text>
        <rect class="C10" x="676.6" y="666.8" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 868.8003 787.9199)" class="svg-text">C10</text>
        <rect class="S13" x="1" y="443.4" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 128.61 564.49)" class="svg-text">S13</text>
        <rect class="C11" x="676.6" y="445.4" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 868.8003 566.49)" class="svg-text">C11</text>
        <rect class="S14" x="1" y="221.9" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 128.61 343.0601)" class="svg-text">S14</text>
        <rect class="C12" x="676.6" y="223.9" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 868.8003 345.0601)" class="svg-text">C12</text>
        <rect class="S15" x="1" y="0.5" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 128.61 121.6299)" class="svg-text">S15</text>
        <rect class="C13" x="676.6" y="2.5" width="500" height="200"/>
        <text transform="matrix(1 0 0 1 868.8003 123.6299)" class="svg-text">C13</text>
        <rect class="S2" x="1" y="2879.1" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 155 3000.2)" class="svg-text">S2</text>
        <rect class="S1" x="1" y="3100.5" width="400" height="200"/>
        <text transform="matrix(1 0 0 1 155 3221.6299)" class="svg-text">S1</text>
        <rect class="D3" x="1420.8" y="2657.1" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 2778.28)" class="svg-text">D3</text>
        <rect class="D4" x="1420.8" y="2435.7" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 2556.8501)" class="svg-text">D4</text>
        <rect class="D5" x="1420.8" y="2214.3" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 2335.4199)" class="svg-text">D5</text>
        <rect class="D6" x="1420.8" y="1992.9" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 2113.99)" class="svg-text">D6</text>
        <rect class="D7" x="1420.8" y="1771.4" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 1892.5601)" class="svg-text">D7</text>
        <rect class="D8" x="1420.8" y="1550" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 1671.13)" class="svg-text">D8</text>
        <rect class="D9" x="1420.8" y="1328.6" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 1449.7)" class="svg-text">D9</text>
        <rect class="D10" x="1420.8" y="1107.1" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1659.09 1228.28)" class="svg-text">D10</text>
        <rect class="D11" x="1420.8" y="885.7" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1659.09 1006.8501)" class="svg-text">D11</text>
        <rect class="D12" x="1420.8" y="664.3" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1659.09 785.4199)" class="svg-text">D12</text>
        <rect class="D13" x="1420.8" y="442.9" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1659.09 563.99)" class="svg-text">D13</text>
        <rect class="D14" x="1420.8" y="221.4" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1659.09 342.5601)" class="svg-text">D14</text>
        <rect class="D15" x="1420.8" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1659.09 121.1299)" class="svg-text">D15</text>
        <rect class="D2" x="1420.8" y="2878.6" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 2999.7)" class="svg-text">D2</text>
        <rect class="D1" x="1420.8" y="3100" width="598.5" height="200"/>
        <text transform="matrix(1 0 0 1 1677.5601 3221.1299)" class="svg-text">D1</text>
        </svg>

        <svg id="etaj" class="layer hide" version="1.1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1937.7 3136.26">
            <rect class="E1" y="2936.26" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 3057.39)">E1</text>
            <rect class="E81" x="1412.11" y="2936.26" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 3057.39)">E81</text>
            <rect class="E82" x="1737.7" y="2936.26" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 3057.39)">E82</text>
            <rect class="E83" x="1737.7" y="2726.07" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 2847.2)">E83</text>
            <rect class="E2" y="2726.07" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 2847.2)">E2</text>
            <rect class="E3" y="2516.44" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 2637.57)">E3</text>
            <rect class="E4" y="2306.44" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 2427.57)">E4</text>
            <rect class="E5" y="2096.56" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 2217.69)">E5</text>
            <rect class="E6" y="1887.06" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 2008.19)">E6</text>
            <rect class="E7" y="1678.81" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 1799.94)">E7</text>
            <rect class="E8" y="1468.81" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 1589.94)">E8</text>
            <rect class="E9" y="1258.5" width="200" height="200" />
            <text class="svg-text" transform="translate(63.82 1379.63)">E9</text>
            <rect class="E10" y="1048" width="200" height="200" />
            <text class="svg-text" transform="translate(45.35 1169.13)">E10</text>
            <rect class="E11" y="838.75" width="200" height="200" />
            <text class="svg-text" transform="translate(45.35 959.88)">E11</text>
            <rect class="E12" y="628.75" width="200" height="200" />
            <text class="svg-text" transform="translate(45.35 749.88)">E12</text>
            <rect class="E13" y="418.88" width="200" height="200" />
            <text class="svg-text" transform="translate(45.35 540.01)">E13</text>
            <rect class="E14" y="209.88" width="200" height="200" />
            <text class="svg-text" transform="translate(45.35 331.01)">E14</text>
            <rect class="E15" width="200" height="200" />
            <text class="svg-text" transform="translate(45.35 121.13)">E15</text>
            <rect class="E28" x="331.93" y="2516.44" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 2637.57)">E28</text>
            <rect class="E27" x="331.93" y="2306.44" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 2427.57)">E27</text>
            <rect class="E26" x="331.93" y="2096.56" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 2217.7)">E26</text>
            <rect class="E25" x="331.93" y="1887.06" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 2008.2)">E25</text>
            <rect class="E24" x="331.93" y="1678.81" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 1799.95)">E24</text>
            <rect class="E23" x="331.93" y="1468.81" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 1589.95)">E23</text>
            <rect class="E22" x="331.93" y="1258.5" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 1379.63)">E22</text>
            <rect class="E21" x="331.93" y="1048" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 1169.13)">E21</text>
            <rect class="E20" x="331.93" y="838.75" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 959.88)">E20</text>
            <rect class="E19" x="331.93" y="628.75" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 749.88)">E19</text>
            <rect class="E18" x="331.93" y="418.88" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 540.01)">E18</text>
            <rect class="E17" x="331.93" y="209.88" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 331.01)">E17</text>
            <rect class="E16" x="331.93" width="200" height="200" />
            <text class="svg-text" transform="translate(377.29 121.13)">E16</text>
            <rect class="E29" x="542.79" y="2516.44" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 2637.57)">E29</text>
            <rect class="E30" x="542.79" y="2306.44" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 2427.57)">E30</text>
            <rect class="E31" x="542.79" y="2096.56" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 2217.7)">E31</text>
            <rect class="E32" x="542.79" y="1887.06" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 2008.2)">E32</text>
            <rect class="E33" x="542.79" y="1678.81" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 1799.95)">E33</text>
            <rect class="E34" x="542.79" y="1468.81" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 1589.95)">E34</text>
            <rect class="E35" x="542.79" y="1258.5" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 1379.63)">E35</text>
            <rect class="E36" x="542.79" y="1048" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 1169.13)">E36</text>
            <rect class="E37" x="542.79" y="838.75" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 959.88)">E37</text>
            <rect class="E38" x="542.79" y="628.75" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 749.88)">E38</text>
            <rect class="E39" x="542.79" y="418.88" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 540.01)">E39</text>
            <rect class="E40" x="542.79" y="209.88" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 331.01)">E40</text>
            <rect class="E41" x="542.79" width="200" height="200" />
            <text class="svg-text" transform="translate(588.14 121.13)">E41</text>
            <rect class="E54" x="873.79" y="2516.44" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 2637.57)">E54</text>
            <rect class="E53" x="873.79" y="2306.44" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 2427.57)">E53</text>
            <rect class="E52" x="873.79" y="2096.56" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 2217.7)">E52</text>
            <rect class="E51" x="873.79" y="1887.06" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 2008.2)">E51</text>
            <rect class="E50" x="873.79" y="1678.81" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 1799.95)">E50</text>
            <rect class="E49" x="873.79" y="1468.81" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 1589.95)">E49</text>
            <rect class="E48" x="873.79" y="1258.5" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 1379.63)">E48</text>
            <rect class="E47" x="873.79" y="1048" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 1169.13)">E47</text>
            <rect class="E46" x="873.79" y="838.75" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 959.88)">E46</text>
            <rect class="E45" x="873.79" y="628.75" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 749.88)">E45</text>
            <rect class="E44" x="873.79" y="418.88" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 540.01)">E44</text>
            <rect class="E43" x="873.79" y="209.88" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 331.01)">E43</text>
            <rect class="E42" x="873.79" width="200" height="200" />
            <text class="svg-text" transform="translate(919.14 121.13)">E42</text>
            <rect class="E55" x="1080.79" y="2516.44" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 2637.57)">E55</text>
            <rect class="E56" x="1080.79" y="2306.44" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 2427.57)">E56</text>
            <rect class="E57" x="1080.79" y="2096.56" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 2217.7)">E57</text>
            <rect class="E58" x="1080.79" y="1887.06" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 2008.2)">E58</text>
            <rect class="E59" x="1080.79" y="1678.81" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 1799.95)">E59</text>
            <rect class="E60" x="1080.79" y="1468.81" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 1589.95)">E60</text>
            <rect class="E61" x="1080.79" y="1258.5" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 1379.63)">E61</text>
            <rect class="E62" x="1080.79" y="1048" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 1169.13)">E62</text>
            <rect class="E63" x="1080.79" y="838.75" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 959.88)">E63</text>
            <rect class="E64" x="1080.79" y="628.75" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 749.88)">E64</text>
            <rect class="E65" x="1080.79" y="418.88" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 540.01)">E65</text>
            <rect class="E66" x="1080.79" y="209.88" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 331.01)">E66</text>
            <rect class="E67" x="1080.79" width="200" height="200" />
            <text class="svg-text" transform="translate(1126.14 121.13)">E67</text>
            <rect class="E80" x="1412.11" y="2516.44" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 2637.57)">E80</text>
            <rect class="E79" x="1412.11" y="2306.44" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 2427.57)">E79</text>
            <rect class="E78" x="1412.11" y="2096.56" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 2217.7)">E78</text>
            <rect class="E77" x="1412.11" y="1887.06" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 2008.2)">E77</text>
            <rect class="E76" x="1412.11" y="1678.81" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 1799.95)">E76</text>
            <rect class="E75" x="1412.11" y="1468.81" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 1589.95)">E75</text>
            <rect class="E74" x="1412.11" y="1258.5" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 1379.63)">E74</text>
            <rect class="E73" x="1412.11" y="1048" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 1169.13)">E73</text>
            <rect class="E72" x="1412.11" y="838.75" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 959.88)">E72</text>
            <rect class="E71" x="1412.11" y="628.75" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 749.88)">E71</text>
            <rect class="E70" x="1412.11" y="418.88" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 540.01)">E70</text>
            <rect class="E69" x="1412.11" y="209.88" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 331.01)">E69</text>
            <rect class="E68" x="1412.11" width="200" height="200" />
            <text class="svg-text" transform="translate(1457.47 121.13)">E68</text>
            <rect class="E84" x="1737.7" y="2516.44" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 2637.57)">E84</text>
            <rect class="E85" x="1737.7" y="2306.44" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 2427.57)">E85</text>
            <rect class="E86" x="1737.7" y="2096.56" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 2217.7)">E86</text>
            <rect class="E87" x="1737.7" y="1887.06" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 2008.2)">E87</text>
            <rect class="E88" x="1737.7" y="1678.81" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 1799.95)">E88</text>
            <rect class="E89" x="1737.7" y="1468.81" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 1589.95)">E89</text>
            <rect class="E90" x="1737.7" y="1258.5" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 1379.63)">E90</text>
            <rect class="E91" x="1737.7" y="1048" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 1169.13)">E91</text>
            <rect class="E92" x="1737.7" y="838.75" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 959.88)">E92</text>
            <rect class="E93" x="1737.7" y="628.75" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 749.88)">E93</text>
            <rect class="E94" x="1737.7" y="418.88" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 540.01)">E94</text>
            <rect class="E95" x="1737.7" y="209.88" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 331.01)">E95</text>
            <rect class="E96" x="1737.7" width="200" height="200" />
            <text class="svg-text" transform="translate(1783.05 121.13)">E96</text>
            <rect class="E0" x="331.93" y="2936.26" width="200" height="200" />
            <text class="svg-text" transform="translate(395.75 3057.39)">E0</text>
        </svg>
        
</div>

<script>
    <% evidenta.forEach(item => {%>
        document.querySelector(".<%=item.identificator%>").classList.add(
            "<%if(item.liber==true){%>boxa-libera<%}else{%>boxa-ocupata<%}%>"); 
            <%}) %>
</script>


<form action="#" action="GET" id="selectForm" target="iframe">
    <input type="text" name="id-boxa" id="inputBoxa">
</form>

<!--
    ===========================================================================================================================================================================================
-->

<div class="menu">
    <iframe src="/hala6/view/S1" frameborder="0" id="iframe" name="iframe" onload="fadeIn(this)"></iframe>
</div>

<div class="sizeControl noselect">
    <div class="plus control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H173V262H128V172.5H37.5v-45H128V37h45v90.5h89.5Z" />
        </svg></div>
    <div class="reset control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">

            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0ZM69.82,199.89l-2-2L22,152l-4.92-4.92H55.54A94.76,94.76,0,0,1,150,55.49h.07a105.31,105.31,0,0,1,50.63,14.14l3.24,1.88-2.65,2.65L184.11,91.33l-1.48,1.48-1.87-1A70.92,70.92,0,0,0,150,84.16a66,66,0,0,0-65.74,63H122.6L117.68,152,71.86,197.86Zm206.18-47H244.46A94.78,94.78,0,0,1,150,244.51h-.07a105.31,105.31,0,0,1-50.63-14.14l-3.24-1.88,2.65-2.65,17.17-17.17,1.48-1.48,1.87.95a70.92,70.92,0,0,0,30.78,7.7,66,66,0,0,0,65.74-63H177.4l4.92-4.92,45.82-45.82,2-2,2,2L278,148l4.92,4.92Z" />
        </svg></div>
    <div class="minus control"><svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">

            <path
                d="M262.5,0H37.5A37.5,37.5,0,0,0,0,37.5v225A37.5,37.5,0,0,0,37.5,300h225A37.5,37.5,0,0,0,300,262.5V37.5A37.5,37.5,0,0,0,262.5,0Zm0,172.5H37.5v-45h225Z" />
        </svg></div>
</div>





<%- include("../partials/footer") %>